@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f4ed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #f7f4ed !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 70px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.logo img {
    width: 10vw;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.get-started {
    background-color: #191919;
    color: white;
    border: none;
    padding: 12px 21px;
    border-radius: 20px;
    cursor: pointer;
}

.get-started a {
    text-decoration: none;
    color: white;
}

.yellow-banner {
    background-image: url(assets/no-signal.png), linear-gradient(270deg, rgb(255, 192, 23) 14%, rgb(255, 227, 48) 32%, rgb(251, 240, 184) 51%);
    background-blend-mode: overlay;
    padding: 13px 12px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
}

.yellow-banner a {
    color: black;
}

.yellow-banner span {
    font-weight: bold;
}

.cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    /* border: 2px solid red; */
    /* height: 80vh; */
    color: #242424;
    display: flex;
    align-items: center;
}

.left p {
    font-size: 10vw;
    letter-spacing: -13px;
    word-spacing: 10px;
    margin-left: 50px;
    line-height: 127px;
    padding: 45px 0px;
}

.right {
    /* border: 2px solid red; */
    width: 30%;
    /* height: 80vh; */
}

.right img {
    width: 31vw;
    position: absolute;
    right: 0px;
}

.left-captions {
    color: #242424;
    margin-left: 53px;
    margin-top: 12px;
    font-size: 19px;
}

.read-btn {
    background-color: #191919;
    color: white;
    border: none;
    padding: 12px 41px;
    border-radius: 39px;
    cursor: pointer;
    font-size: 19px;
    margin-top: 29px;
}

.footer {
    background-color: #f7f4ed;
    border-top: 1px solid #242424;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    margin-top: 70px;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links li {
    margin: 0.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #6B6B6B;
    font-weight: normal;
    font-size: 13px;
}

@media screen and (max-width:700px) {
    .nav-links span {
        display: none;
    }

    .logo img {
        width: 90px;
        vertical-align: middle;
    }

    .navbar {
        padding: 20px 36px;
    }

    .yellow-banner {
        font-size: 10px;
    }

    .left p {
        font-size: 19vw;
        letter-spacing: -3px;
        word-spacing: 1px;
        margin-left: -35px;
        line-height: 92px;
        padding: 26px 0px;
    }

    .left-captions {
        color: #242424;
        margin-left: 45px;
        font-size: 13px;
    }

    .read-btn {
        background-color: #1a8917;
        color: white;
    }

    .footer {
        justify-content: start;
        background-color: #000000;
    }

    .footer-links a {
        color: white;
    }

    .footer-links span {
        display: none;
    }

    .right {
        display: none;
    }
}
